:root {
    --bg-color: #2e0080;
    --fg-color: #da7820;
    --fg-color-light: #ffd993;
    --fg-color-lighter: #ffca4b;
    --fg-color-dark: #934313;
    --acc-color: #ebff00;

    --off-black: #212121;
    --gray: #343434;

    --btn-color: #a9e300;
    --btn-color-hover: #d9ff68;
    --btn-text-color: #cce9ff;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.22vh;
    font-family: sans-serif;
    overflow-wrap: anywhere;
}

.std-body {
    background-color: var(--bg-color);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vh;
    padding: 20px;
}

.body-fixed-height {
    height: 100vh;
    justify-content: center;
}

.body-var-height {
    min-height: 100vh;
    height: auto;
    justify-content: flex-start;
}


.title {
    color: transparent;
    -webkit-text-stroke: 0.3vh var(--acc-color); 
    font-size: 7vh;
    text-align: center;
}

.title-2 {
    color: var(--acc-color);
    -webkit-text-stroke: 0.2vh var(--off-black); 
    font-size: 7vh;
    font-weight: 600;
    text-align: center;
}

.std-text {
    color: var(--off-black);
    font-size: 2vh;
    text-align: center;
}


.subtitle {
    color: var(--acc-color);
    font-size: 2vh;
    font-family: sans-serif;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fg-color);
    width: 100%;
    min-height: clamp(60vh, 80vh, 300px);
    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .btn {
            margin-top: 20px;
        }
    }
    padding: clamp(20px, 6vw, 60px);
}

.btn {
    padding: 1vh 2vh;
    border: none;
    border-radius: 1vh;
    background-color: var(--btn-color);
    font-size: 2vh;
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--off-black);
    cursor: pointer;
    position: relative;
    user-select: none;
}



.btn:hover {
    cursor: pointer;
    background-color: var(--btn-color-hover);
}

.btn-small {
    padding: 0.5vh 1vh;
    border: none;
    border-radius: 0.7vh;
    background-color: var(--btn-color);
    font-size: 1.5vh;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--off-black);
    cursor: pointer;
    position: relative;
    user-select: none;
}

.std-input {
   padding: 1.5vh 2vh; 
   margin: 0.5vh;
   background-color: var(--fg-color-light);
   border: none;
   /*border-radius: 0.5vh;*/
   text-align: center;
   font-size: 2.4vh;
   color: var(--off-black);
}

.std-input::placeholder {
    opacity: 0.8;
    color: var(--fg-color-dark);
}

.std-input:focus-visible {
    outline: none;
}


/* Effects */
.cartoon-shadow {
    border: 0.2vh solid var(--off-black);
    box-shadow: 0.05vh 0.05vh 0 0, 0.1vh 0.1vh 0 0, 0.15vh 0.15vh 0 0, 0.2vh 0.2vh 0 0, 0.25vh 0.25vh 0 0, 0.3vh 0.3vh 0 0;
}

.cartoon-shadow-small {
    border: 0.2vh solid var(--off-black);
    box-shadow: 0.05vh 0.05vh 0 0, 0.1vh 0.1vh 0 0, 0.15vh 0.15vh 0 0, 0.2vh 0.2vh 0 0;
}

.cartoon-indent {
    box-shadow: inset 0vh 0vh 0 0, inset 0.2vh 0.3vh 0 0;;
}

.shimmer {
    position: relative;
    border: 0px solid transparent;
    border-radius: 1.5vh;
    overflow: hidden;
    isolation: isolate;
}

.shimmer::before {
    content: "";
    position: absolute;
    inset: -100vw;
    z-index: -1;

    background: repeating-conic-gradient(
        from 0deg,
        var(--acc-color) 0deg 5deg,
        color-mix(in srgb, var(--acc-color) 40%, transparent) 5deg 10deg
    );

    animation: shimmer-spin 10s linear infinite;
}

.shimmer::after {
    content: "";
    position: absolute;
    inset: 1.5vh;
    z-index: -1;
    background: var(--fg-color);
    border-radius: 12px;
}

@keyframes shimmer-spin {
    to {
        transform: rotate(360deg);
    }
}
