body {
    background-color: var(--bg-color);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60vh;
    height: 100vh;
    padding: 20px;
}

.std-input {
    color: var(--fg-color-dark);
}

.team-card-list {
    display: flex;
    flex-direction: column;
}

.team-card {
    display: flex;
    align-items: center;
    padding: 0.5vh 3.5vh 0.5vh 1.5vh;
    margin: 0.5vh;
    font-size: 2vh;
    color: var(--off-black);
    background-color: var(--fg-color-light);
}

.team-card-text {
    overflow-wrap: anywhere;
}
