{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}"></link>
</head>
<body>
    <canvas id="cv" width="600" height="600" style="border: 2px solid black; width: 600px; height: 600px"></canvas>
    <button onclick="clearCanvas()" class="btn-small">Clear</button>
    <div id="controls">
    <div id="lineWidth">
        <label><input type="radio" name="lineWidth" value="1" checked><span></span></label>
        <label><input type="radio" name="lineWidth" value="2"><span></span></label>
        <label><input type="radio" name="lineWidth" value="4"><span></span></label>
        <label><input type="radio" name="lineWidth" value="8"><span></span></label>
    </div>
    <div id="lineColor">
        <label><input type="radio" name="lineColor" value="black" checked><i></i></label>
        <label><input type="radio" name="lineColor" value="red"><i></i></label>
        <label><input type="radio" name="lineColor" value="blue"><i></i></label>
        <label><input type="radio" name="lineColor" value="yellow"><i></i></label>
        <label><input type="radio" name="lineColor" value="magenta"><i></i></label>
        <label><input type="radio" name="lineColor" value="lime"><i></i></label>
        <label><input type="radio" name="lineColor" value="white"><i></i></label>
    </div>

    <div id="drawMode">
        <label><input type="radio" name="drawMode" value="brush" checked><span>🖌</span></label>
        <label><input type="radio" name="drawMode" value="fill"><span>🪣</span></label>
    </div>
    </div>
</body>

<script src="{% static 'js/canvas.js' %}"> </script>
</html>
