<!doctype html>
<html>
<head>

</head>
<body>
    <canvas id="cv" width="600" height="600" style="border: 2px solid black; width: 600px; height: 600px"></canvas>
    <button onclick="clearCanvas()">Clear</button>
    <div>
        <h3>Line width</h3>
        <select id="lineWidth">
            <option value="1">Small</option>
            <option value="2">Medium</option>
            <option value="4" default=true>Large</option>
            <option value="8">XL</option>
        </select>
    </div>

    <div>
        <h3>Color</h3>
        <select id="lineColor">
            <option value="black" color="black">Black</option>
            <option value="red" color="red">Red</option>
            <option value="blue" color="blue">Blue</option>
            <option value="yellow" color="yellow">Yellow</option>
            <option value="white" color="black">White</option>
        </select>
    </div>

    <div>
        <h3>Mode</h3>
        <select id="drawMode">
            <option value="brush">Brush</option>
            <option value="fill">Fill</option>
        </select>
    </div>
</body>
<script>
const canvas = document.querySelector("#cv");
const ctx = canvas.getContext("2d");
const [gridWidth, gridHeight] = [100, 100];
const [renderWidth, renderHeight] = [canvas.width, canvas.height];
const [cellWidth, cellHeight] = [renderWidth/gridWidth, renderHeight/gridHeight];

const Mode = {
    BRUSH: "brush",
    FILL: "fill",
    from_str(s) {
        if (s == Mode.BRUSH) {
            return Mode.BRUSH;
        }
        else if (s == Mode.FILL) {
            return Mode.FILL;
        }
        return null;
    },
};


let brushWidth = 1;
let drawMode = Mode.BRUSH;

const widthSelect = document.querySelector("#lineWidth");
const colorSelect = document.querySelector("#lineColor");
const modeSelect = document.querySelector("#drawMode");

let [prevX, prevY] = [null, null];

const getXY = (e) => {
    const rect = canvas.getBoundingClientRect();
    return [(e.clientX - rect.left), (e.clientY - rect.top)];
}

const quantise = (x, y) => {
    return [(Math.round(x * (gridWidth/renderWidth))) * cellWidth, (Math.round(y * (gridHeight/renderHeight))) * cellHeight];
}

const getRGBA = (x, y) => {
    let data = ctx.getImageData(x, y, 1, 1).data;
    return JSON.stringify([data[0], data[1], data[2], data[3]]);
}


const draw = (e) => {
    const [x, y] = getXY(e);
    const [qX, qY] = quantise(x, y);

    
    let [w, h] = [cellWidth * brushWidth, cellHeight * brushWidth];
    while (prevX != qX || prevY != qY) {
        if (prevX == null || prevY == null) {
            [prevX, prevY] = [qX, qY];
        }
        if (Math.abs(prevX - qX) > 0) {
            prevX -= Math.sign(prevX - qX);
        }
        if (Math.abs(prevY - qY) > 0) {
            prevY -= Math.sign(prevY - qY);
        }

        ctx.fillRect(prevX - w/2, prevY - h/2, w, h);
    }


    [prevX, prevY] = [qX, qY];
}

const test = (x, y, init_rgb, buf) => {
    if (!(x >= 0 && x < canvas.width && y >= 0 && y < canvas.height)) {
        return false;
    }

    if (y in buf) {
        for (const [l, r] of buf[y]) {
            if (l <= x && x <= r) {
                return false;
            }
        }
    }

    let rgb = getRGBA(x, y);
    return init_rgb == rgb;
}

const bufferLine = (l, r, y, buf) => {
    if (!(y in buf)) {
        buf[y] = [];
    }
    buf[y].push([l, r]);
}

const drawLineBuffer = (buf) => {
    for (const y in buf) {
        for (const [l, r] of buf[y]) {
            ctx.fillRect(l, y, r - l + 1, 2);
            //console.log(`ctx.fillRect(${l}, ${y}, ${r}, 10)`);
        }
    }
}


const fill = async (e) => {
    const [x0, y0] = getXY(e);
    fillInner(x0, y0);
}

const fillInner = async (x0, y0) => {
    let init_rgb = getRGBA(x0, y0);

    let to_visit = [[x0, y0]];
    let line_buf = {};
    let seen = new Set();
    let step = 2;

    const scan = (lx, rx, y, s) => {
        let in_span = false;
        for (let x = lx; x <= rx; x++) {
            if (!test(x, y, init_rgb, line_buf)) {
                in_span = false;
            }
            else if (!in_span) {
                to_visit.push([x, y]);
                in_span = true;
            }
        }
    };

    while (to_visit.length > 0) {
        const [x, y] = to_visit.pop();

        let xy = JSON.stringify([x, y]);
        if (seen.has(xy)) {
            continue;
        }
        seen.add(xy);

        let [lx, rx] = [x, x];

        while (test(lx-1, y, init_rgb, line_buf)) {
            lx -= 1;
        }

        while (test(rx+1, y, init_rgb, line_buf)) {
            rx += 1;
        }

        bufferLine(lx, rx, y, line_buf);
        // ctx.fillRect(lx, y, rx - lx + 1, 1);

        scan(lx, rx, y+step, to_visit);
        scan(lx, rx, y-step, to_visit);

        // await new Promise(r => setTimeout(r, 1));
    }

    drawLineBuffer(line_buf);
}

const updateStroke = () => {
    ctx.fillStyle = colorSelect.selectedOptions[0].value;
    brushWidth = widthSelect.selectedOptions[0].value;
    drawMode = modeSelect.selectedOptions[0].value;
}

const clearCanvas = () => {
    console.log("Clearing");
    let fill = ctx.fillStyle;
    ctx.fillStyle = "white";
    ctx.fillRect(0, 0, canvas.width, canvas.height);
    ctx.fillStyle = fill;
}

const onFinish = (e) => {
    [prevX, prevY] = [null, null];
    canvas.removeEventListener("mousemove", draw);
    canvas.removeEventListener("mouseup", onFinish);
}


canvas.addEventListener("mousedown", (e) => {
    if (drawMode == Mode.BRUSH) {
        canvas.addEventListener("mousemove", draw);
        canvas.addEventListener("mouseup", onFinish);
    }
    else if (drawMode == Mode.FILL) {
        fill(e);
    }
    else {
        console.log(`Invalid draw mode: ${drawMode}`);
    }
});

widthSelect.addEventListener("change", updateStroke);
colorSelect.addEventListener("change", updateStroke);
modeSelect.addEventListener("change", updateStroke);
clearCanvas();

</script>
</html>
