{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/team_create.css' %}"></link>
</head>
<html>

<body class="std-body fixed-height">
    <div class="content shimmer">
	    <p class="title">CREATE TEAM</p>
	    <form action="" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<input type="submit" value="LETS GO" class="btn cartoon-shadow"></input>
	    </form>
    </div>
</body>
</html>
