{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}"></link>
</head>
<body class="std-body fixed-height">
    <div class="content shimmer">
    <h1 class="title">Edit profile</h1>
    {% include "../include/canvas.html" %}
	<form action="" method="post" id="profileForm" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form }}
	</form>
	<button onclick="uploadImage()" class="btn">Submit</button>
    </div>
</body>

<script>
const uploadImage = () => {
	const canvas = document.querySelector("canvas");
	canvas.toBlob((blob) => {
		const file = new File([blob], "profile.png");
		const dt = new DataTransfer();
		dt.items.add(file);
		document.querySelector("#id_image").files = dt.files;
		document.querySelector("#profileForm").submit();
	});
}
</script>
</html>
