<head>
<body>
	<div id="game-list">
		{% include "controller/game_list.html" %}
	</div>
	<button onclick="newGame()">Create New Game</button>
	{% csrf_token %}
</body>
</head>

<script>
const fetch_with_csrf = async (endpoint, fields) => { 
	const csrf = document.querySelector("input").value;

	if (!fields.hasOwnProperty("headers")) {
		fields["headers"] = {};
	}

	fields["headers"]["X-CSRFToken"] = csrf;
	fields["mode"] = "same-origin";

	return await fetch(endpoint, fields);
}

// TODO: Make this a form to create new game
const newGame = async () => {
	const resp = await fetch_with_csrf("/game", {
		method: "POST",
	});
	const game = await resp.json();
	window.location.href += `/${game.code}`;
}

const listGames = async () => {
	const resp = await fetch("/game", {
		method: "GET",
	});
	const json = await resp.json();
	console.log(json);
}
</script>
